.dim_overlay {
  height:100%;
  width:100%;
  background-color: rgba(0, 0, 0, 0.57);
  position:fixed;
  top:0px;
  left:0px;
  z-index: 9000000;
}

.hide {
  display: none;
}

.selection-panel {
  border-radius: 3px;
  background-color: #E6E6E6;
  width: 600px;
  margin: auto;
  padding: 12px;
  height: 400px;
  overflow:auto;
  position: absolute;
  font-size:18px;
  font-family: "Arial";
  top: 0; left: 0; bottom: 0; right: 0;
}

.card-content {
  width: 86%;
  max-height:40%;
  margin: auto;
  position: absolute;
  top: 5%; left: 0; bottom: 0; right: 0;
}

button {
  border-radius: 3px;
  background-color: #268CC4;
  font-size: 16px;
  color:white;
  font-style:bold;
  border: none;
  text-align: center;
}

#textbutton {
  padding: 10px 16px;
  position:absolute;
  bottom:12px;
  right:12px;
}

#back {
  background-color:#D32F2F;
}

button:hover {
    background-color: #4CAF50;
}


#logo-medium {
    opacity: 0.5;
    position:absolute;
    bottom:12px;
    left:17px;
    height:46px;
}

#edit, #settings, #back {
  margin:4px;
  float:left;
  height: 44px;
  width: 44px;
}

#icon {
  padding-top: 4px;
  height:32px;
  margin:auto;
}


.card-title {
  position: absolute;
  top: 12%; left: 7%; 
  font-size: 24px;
  max-height: 52px;
  max-width: 83%;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#input-title, #input-content{
  position:absolute;
  top: 25%; left: 7%;
  width: 85%;
  height:24px;
  text-align:left;
  float:left;
}

#input-content{
  position:absolute;
  top: 35%;
  height: 40%;
  max-height: 40%
}